.bg1 {
  background-image: url(./images/bg-1.png);
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: right;
}
.container {
  margin-bottom: 80px;
}
.carousel-control-next,
.carousel-control-prev {
  width: 2.2%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
  width: 16px;
  background-size: 147% 100%;
}
.position {
  position: relative;
  bottom: 58px;
}
.card-style {
  border: none;
  box-shadow: -2px 2px 37px -20px grey;
  padding: 20px;
  border-radius: 10px;
}
.card-footer {
  background-color: white;
  border-top: none;
  margin: auto;
}
.card-body {
  text-align: center;
}
.text-aline {
  position: relative;
  bottom: 30px;
}
.see-link {
  text-decoration: none;
  color: orange;
}
p {
  color: gray;
}
.categories img {
  width: 100%;
}
.img1 {
  width: 400px;
  position: relative;
  top: 35px;
  padding: 13px;
  left: 34px;
}
.img2 {
  width: 115px;
  position: relative;
  top: 14px;
  padding: 15px;
  left: 40px;
}
.img3 {
  width: 115px;
  position: relative;
  top: 50px;
  left: 40px;
  padding: 15px;
}
.categories h2 {
  text-align: center;
}
.cat::after {
  content: "";
  left: 621px;
  width: 115px;
  height: 6px;
  background-color: orange;
  position: absolute;
  border-radius: 4px;
}
footer {
  text-align: center;
}
@media (max-width: 767px) {
  .img1 {
    width: 117px;
    position: relative;
    top: 206px;
    padding: 13px;
    left: -2px;
  }
  .img2 {
    width: 115px;
    position: relative;
    top: -9px;
    padding: 15px;
    left: 142px;
  }
  .img3 {
    width: 115px;
    position: relative;
    top: 14px;
    padding: 15px;
    left: 142px;
  }
  .cat {
    display: none;
  }
}
